.icone-img, .icone-gif{
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    display: inline-flex !important;
}

.icone-img:hover, .icone-gif:hover{
    background: rgba(86, 86, 204, 0.486);
}

.icone-img {
    height: 1.5em !important;;
    width: 2em !important;;
}

.icone-img svg {
    width: 100% !important;;
    height: 100% !important;;
}

.icone-gif {
    height: 1.8em !important;;
    width: 2em !important;;
}

.icone-gif svg {
    width: 100% !important;
    height: 100% !important;
}

#previaAnexosFeed, #previaAnexosModal {
    display: none;
}

#previaAnexosFeed.anexo-arquivos,
#previaAnexosModal.anexo-arquivos {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

#previaAnexosFeed img,
#previaAnexosModal img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.anexo-arquivos {
    display: flex;
    gap: 10px;
}

.divAnexo {
    position: relative;
    display: inline-block;
}

.botaoExcluir {
    position: absolute;
    top: 5px;
    right: 5px;
    color:white;
    background-color: rgba(0, 0, 0, 0.295);
    cursor: pointer;
    font-size: 12px;
    border: none;
}

.botaoExcluir:hover{
    background:rgba(0, 0, 0, 0.438);
}

.anexo-posts {
    max-height: 10em;
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.2em;
}